
@{
    ViewBag.Title = "ConsecutiveList";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var grid = new WebGrid(canPage: true, rowsPerPage: 10);

}

<!-- ============================================================== -->
<!-- Form Lista Consecutivo -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="section-block" id="SectionConsecutivesList">
            <h3 class="section-title">Lista Consecutivos</h3>

        </div>
        <div class="card">
            <h5 class="card-header">Lista Consecutivos</h5>
            <div class="card-body">


                <div>
                    @grid.Table(
                   tableStyle: "table table-responsive table-bordered",
                   columns: grid.Columns(
                       grid.Column(columnName: "ID", header: "ID"),
                       grid.Column(columnName: "Consecutivo", header: "Consecutive"),
                       grid.Column(columnName: "Descripcion", header: "Description"),
                       grid.Column(columnName: "Prefijo", header: "Prefix"),
                       grid.Column(columnName: "Rango_Inicial", header: "Initial Range"),
                       grid.Column(columnName: "Rango_Final", header: "Final Range")

                    )
                   )
                    <div class="row">
                        <div class="col-sm-7">
                            @grid.PagerList(mode: WebGridPagerModes.All, paginationStyle: "pagination pagination-small pagination-right")

                        </div>
                    </div>

                    @Html.Hidden("dir", grid.SortDirection)
                    @Html.Hidden("col", grid.SortColumn)

                </div>

            </div>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- Form Lista Consecutivo  -->
<!-- ============================================================== -->


<script src="/Content/assets/vendor/jquery/jquery-3.3.1.min.js"></script>
<script src="/Content/assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
<script src="/Content/assets/vendor/slimscroll/jquery.slimscroll.js"></script>
<script src="/Content/assets/libs/js/main-js.js"></script>
<script src="/Content/assets/vendor/inputmask/js/jquery.inputmask.bundle.js"></script>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

<script src="~/Scripts/jquery-logic/consecutive-jquery.js"></script>

<script type="text/javascript"></script>




