
@{
    ViewBag.Title = "HabitacionesListas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


        <!-- ============================================================== -->
        <!-- Form Habitaciones Listas -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="section-block" id="SectionHabitacionesListas">
                    <h3 class="section-title">Habitaciones Listas</h3>

                </div>
                <div class="card">
                    <h5 class="card-header">Habitaciones Listas</h5>
                    <div class="card-body">

                        <!-- AGREGAR TABLA -->

                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- Form Habitaciones Listas  -->
        <!-- ============================================================== -->


        <script src="/Scripts/jqueryLogic-App/jqueryLogin.js"></script>
        <script src="/Content/assets/vendor/jquery/jquery-3.3.1.min.js"></script>
        <script src="/Content/assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
        <script src="/Content/assets/vendor/slimscroll/jquery.slimscroll.js"></script>
        <script src="/Content/assets/libs/js/main-js.js"></script>
        <script src="/Content/assets/vendor/inputmask/js/jquery.inputmask.bundle.js"></script>

        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>







