@model FinalProjectHotel.Models.Account.ChangePasswordModel

@{
    ViewBag.Title = "ChangePassword";
    Layout = null;
}



<head>
    <title>Login Admin Hotel</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.11.1.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="/Content/Login_v7/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Content/Login_v7/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Content/Login_v7/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Content/Login_v7/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Content/Login_v7/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Content/Login_v7/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Content/Login_v7/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Content/Login_v7/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Content/Login_v7/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Content/Login_v7/css/util.css">
    <link rel="stylesheet" type="text/css" href="/Content/Login_v7/css/main.css">
    <!--===============================================================================================-->

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />
</head>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<body style="background-color:lightgreen">
        <div class="limiter">
            <div class="container-login100">
                <div class="wrap-login100 p-t-90 p-b-30">

                    <IMG class="center" width="330" height="210"
                         SRC="https://cdn.dribbble.com/users/186202/screenshots/4921305/lockunlock.gif">

                    </br</br>

                    <span class="login100-form-title p-b-40">
                        Change Password
                    </span>

                    <div id="message1Change">
                        <div class="alert alert-danger">
                            <span class="glyphicon glyphicon-remove-sign"></span>
                            <strong>Please verify that the correct information was typed.</strong>
                        </div>
                    </div>
                    <div id="message2Change">
                        <div class="alert alert-success">
                            <span class="glyphicon glyphicon-ok-sign"></span>
                            <strong>Success! The password was changed.</strong>
                        </div>
                    </div>
                    <form id="ChangePasswordForm">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-user"></i>
                                </span>
                                <input class="form-control" type="password" name="OldPassword" id="OldPassword" placeholder="Old Password" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-lock"></i>
                                </span>
                                <input class="form-control" type="password" name="NewPassword" id="NewPassword" placeholder="New Password" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-lock"></i>
                                </span>
                                <input class="form-control" type="password" name="ConfirmPassword" id="ConfirmPassword" placeholder="Confirm new Password" />
                            </div>
                        </div>
                    </form>

                    <div class="form-group">
                        <button class="btn btn-info form-control" type="submit" style="background-color:dimgray;border-bottom-color:dimgray;border-color:dimgray" onclick="ChangePassword()">
                            <i class="glyphicon glyphicon-lock"></i>
                            Change Password
                        </button>
                    </div>

                    <script src="/Scripts/jqueryLogic-App/jqueryLogin.js"></script>
                    <!--===============================================================================================-->
                    <script src="/Content/Login_v7/vendor/jquery/jquery-3.2.1.min.js"></script>
                    <!--===============================================================================================-->
                    <script src="/Content/Login_v7/vendor/animsition/js/animsition.min.js"></script>
                    <!--===============================================================================================-->
                    <script src="/Content/Login_v7/vendor/bootstrap/js/popper.js"></script>
                    <script src="/Content/Login_v7/vendor/bootstrap/js/bootstrap.min.js"></script>
                    <!--===============================================================================================-->
                    <script src="/Content/Login_v7/vendor/select2/select2.min.js"></script>
                    <!--===============================================================================================-->
                    <script src="/Content/Login_v7/daterangepicker/moment.min.js"></script>
                    <script src="/Content/Login_v7/daterangepicker/daterangepicker.js"></script>
                    <!--===============================================================================================-->
                    <script src="/Content/Login_v7/countdowntime/countdowntime.js"></script>
                    <!--===============================================================================================-->
                    <script src="/Content/Login_v7/js/main.js"></script>

</body>

<script type="text/javascript" src="https://ajax.microsoft.com/ajax/jQuery/jquery-1.4.2.min.js"></script>

<script src="~/Scripts/jquery-logic/login-jquery.js"></script>
